services:
  caddy:
    image: caddy:2.8-alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./data/caddy:/data
      - ./data/caddy-config:/config
    depends_on:
      - app

  app:
    image: nextcloud:30.0.4-apache
    restart: always
    volumes:
      - ./data/nextcloud:/var/www/html
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PASSWORD=nextcloud
      - REDIS_HOST=redis
    env_file:
      - ./app.env
    depends_on:
      - db
      - redis
      - proxy

  cron:
    image: nextcloud:30.0.4-apache
    restart: always
    volumes:
      - ./data/nextcloud:/var/www/html:z
    entrypoint: /cron.sh
    depends_on:
      - db
      - redis

  db:
    image: postgres:17.2
    restart: always
    volumes:
      - ./data/db:/var/lib/postgresql/data:Z
    environment:
      - POSTGRES_PASSWORD=nextcloud
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud

  redis:
    image: redis:7.4.1
    restart: always
