# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/docker/
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      # Default HTTP Port
      - "8081:80/tcp"
      - "8082:443/tcp"
    environment:
      TZ: 'Asia/Tbilisi'
      FTLCONF_webserver_api_password: 'correct horse battery staple'
    volumes:
      - './.data/etc-pihole:/etc/pihole'
    cap_add:
      - NET_ADMIN
      - SYS_TIME
      - SYS_NICE
    restart: unless-stopped